streamlit
streamlit-mic-recorder
langchain>=0.2.14
langchain-openai
langchain-pinecone>=0.1.1
langchain-community
langchain-core
langchain-text-splitters
openai
pinecone>=5.0.0
dotenv
edge-tts
pandas
PyPDF2  # For PDF loading (via langchain_community)
unstructured[local-inference]  # For Excel loading
numpy
scipy


