streamlit
streamlit-mic-recorder
langchain
langchain-openai
langchain-pinecone
langchain-community
langchain-core
langchain-text-splitters
pinecone-client
openai
pinecone
dotenv
edge-tts
PyPDF2  # For PDF loading (via langchain_community)
unstructured[local-inference]  # For Excel loading
